@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  background-color: hsl(0, 0%, 86%);
  overflow: hidden;
}

.inputs {
  display: flex;
  scale: 0.95;
  width: 70%;
  color: hsl(0, 1%, 44%);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-size: 11px;
  font-weight: 500;
}

input {
  font-size: 22px;
  width: 70%;
  height: 30px;
  font-weight: 700;
  border-radius: 5px;
  border: 1.5px solid hsl(0, 0%, 86%);
  padding: 10px;
}

.result {
  font-size: 2em;
  font-weight: 800;
  font-style: italic;
  line-height: 2px;
  color: hsl(0, 0%, 8%);
}

#yearRes,
#dayRes,
#monthRes {
  color: hsl(259, 100%, 65%);
}

.separator {
  width: 80%;
  border: none;
  height: 2px;
  background-color: hsl(0, 0%, 86%);
  margin: 30px 0;
  position: relative;
  left: 10px;
}
.arrow {
  width: 60px;
  height: 60px;
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  position: absolute;
  top: 100px;
  transform: translateX(390px);
}
.arrow img {
  scale: 0.4;
  transform: translateX(-5.5%);
  height: 100%;
}
.container {
  background-color: white;
  height: 370px;
  border-radius: 15px;
  border-bottom-right-radius: 6pc;
  align-content: center;
  padding-left: 20px;
  padding-top: 25px;
  width: 47vw;
  transform: translateX(50%);
  position: relative;
  top: 50px;
}

@media (max-width: 768px) {
  .container {
    width: 95vw;
    transform: translateX(0.5%);
    zoom: 1.5;
    padding: 0;
  }
  input {
    font-size: 18px;
  }
  .inputs {
    width: 100%;
    gap: 10px;
    align-items: center;
    scale: 0.9;
  }
  .arrow {
    position: absolute;
    transform: translateX(200%);
    top: 120px;
    scale: 0.8;
  }
  .result {
    padding-top: 25px;
    padding-left: 10px;
    font-size: 1.2em;
  }
  .separator {
    width: 90%;
    transform: translateX(0%);
    transform: translateY(20px);
  }
}
